/* CSS For Index - START */

#navbar {
    width: 100%;
    height: 100px;
    margin-left: -7px;
    display: flex;
    position: fixed;
    background-color: #FFD85D;
    padding-top: 15px;
}
#navbar > img {
    width: 160px;
    height: 50px;
    margin: 25px 0 0px 40px;
    cursor: pointer;
}

#msnavdrop {
    position: fixed;
    visibility: hidden;
    z-index: 5;
    margin-top: 80px;
    width: 110%;
    margin-left: -10px;
    height: 900px;
    background-color: #FFD85D;
}
#msnavdrop > div {
    font-size: 20px;
    margin: 10px 0 0 40px;
    height: 400px;
}
#msnavdrop > div > div {
    margin-top: 20px;
    cursor: pointer;
}
#msnavdrop > div > hr {
    margin-bottom: 70px;
    margin-left: -40px;
}
#msnavdrop > div > div:hover {
    color: #267E6B;
}
#msnavdrop > div > div > div {
    background-color:#FFF28B;
    margin-top: 10px;
    padding: 5px 0 5px 20px;
    border-radius: 5px;
    width: 85%;
}
#msnavdrop > div > div > div {
    color: black !important;
    cursor: default;
    font-size: 17px;
}
#msnavdrop > div > div > div > div,a {
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#msnavdrop > div > div > div > div:hover {
    color: #145a4b;
}

#msnavdropsignup {
    width: 120px;
    height: 36px;
    color: white;
    background-color: #267E6B;
    text-align: center;
    padding-top: 12px;
    border-radius: 40px;
    margin-top: 80px !important;
}
#msnavdropsignup:hover{
    background-color: #105546;
    color: white !important;
}
.mssub {
    display: none;
}



/* //////////////////// */



#uncommon {
    height: 800px;
    margin-top: -8px;
}
#uncommontext {
    grid-area: left;
    margin: auto auto;
}
#uncommontext > div {
    width: 80%;
    margin: auto auto;
}
#uncommontext > div > h1 {
    font-size: 60px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
}
#boldtxt {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #FFD85D;
    color: #267E6B;
}
#uncommontext > div > p {
    font-size: 20px;
}
#joinNow {
    width: 130px;
    height: 35px;
    color: white;
    text-align: center;
    border-radius: 100px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding-top: 10px;
    background-color: #267E6B;
    margin-top: 80px;
    cursor: pointer;
}
#joinNow:hover {
    background-color: #0f4d3f;
    transition: all .2s ease-in-out;
}
#uncommonimg {
    grid-area: right;
    background-image: url("https://hellobrightline.s3.amazonaws.com/homepage_hero_daughter_hugging_dad_acb43749bb.png");
    background-size: cover;
    background-position: center;
}


#supporting {
    text-align: center;
}
#supporting > p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
}
#supporting > h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
}
#supporting > p:nth-child(3) {
    font-size: 20px;
}


#approachimg {
    background-image: url("https://hellobrightline.s3.amazonaws.com/kid_with_smile_ae9b4240e3.png");
    background-size: cover;
    background-position: center;
}
#approachtxt > div {
    margin-bottom: 60px;
    font-weight: 100;
}
#approachtxt > div > h1 {
    font-family: 'Great Vibes', cursive;
    color: #267E6B;
    font-size: 40px;
    font-weight: 700;
}
#approachtxt > div > p {
    margin-top: -30px;
    font-weight: 100;
}
#learn {
    border: 1px solid #267E6B;
    border-radius: 80px;
    color: #267E6B;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    font-size: 19px;
    cursor: pointer;
}
#learn:hover {
    color: white;
    background-color: #267E6B;
    transition: all .2s ease-in-out;
}
ol {
    margin-left: -20px;
}
#approachtxt > ol > li > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#asseen {
    text-align: center;
    margin-top: 100px;
}
#asseen h1 {
    font-weight: 100;
}


#wehavegot {
    text-align: center;
    margin-top: 100px;
}
#wehavegot > h1 {
    font-size: 45px;
}
#wehavegottxt > div > img {
    width: 60px;
}
#wehavegottxt > div > p {
    font-size: 22px;
}
#wehavegotimg {
    background-image: url("https://hellobrightline.s3.amazonaws.com/homepage_boy_glasses_mom_6d5c417c5e.png");
    background-size: cover;
    background-position: center;
}
#brightline {
    margin: 30px auto 0px;
    padding: 15px 20px;
    border-radius: 50px;
    color: #267E6B;
    border-color: #267E6B;
    background-color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
#brightline:hover {
    color: white;
    background-color: #267E6B;
    transition: all .2s ease-in-out;
}


#flexible {
    text-align: center;
}
#flexibleimg {
    background-image: url("https://hellobrightline.s3.amazonaws.com/product_animationx2_a6f2527d43.gif");
    background-size: cover;
    background-position: center;
}
#flexibletxt > div {
    text-align: left;
}
#flexibletxt > div > h1 {
    color: #267E6B;
    font-weight: 500;
    font-size: 35px;
}
#flexibletxt p {
    font-size: 17px;
    font-weight: 500;
}


#asseen2 {
    text-align: center;
    margin-top: 150px;
}
#asseen2 > p {
    font-size: 45px;
    margin-bottom: 100px;
}
#card > div {
    padding: 40px 5px 0px;
    height: 300px;
    text-align: center;
}
#card > div:nth-child(odd) {
    background-color: #FFD85D;
}
#card > div:nth-child(even) {
    background-color: #FFF28B;
}
#card > div > img {
    margin: 20px;
}
#card > div > p:nth-child(1) {
    font-size: 13px;
}
#card > div > a {
    color: #267E6B;
}
#card > div > a:hover {
    color: #FF7823;
}
.cardp {
    font-size: 25px;
    margin-top: -1px;
}
#card {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 80%;
    margin: auto;
    text-align: center;
}
.card1 {
    display: inline-block;
    margin: 5px 10px;
}


#started > div > div {
    background-color: #FFF3CE;
}
#stimg1 {
    background-image: url("https://hellobrightline.s3.amazonaws.com/For_Families_2x_d42220125f.png");
    background-size: cover;
    background-position: center;
}
#stimg2 {
    background-image: url("https://hellobrightline.s3.amazonaws.com/For_Employers_2x_bd587cd26b.svg");
    background-size: cover;
    background-position: center;
}


/* Small Screen */


@media only screen and (max-width: 600px) {
    #navbar {
        display: flex;
    }
    #option {
        display: none;
    }
    #btns {
        display: none;
    }
    #workdrop {
        display: none;
    }
    #workdrop {
        display: none;
    }
    #employdrop {
        display: none;
    }
    #familydrop {
        display: none;
    }
    #careerdrop {
        display: none;
    }

    #burger {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 45px;
        height: 40px;
        margin-top: 25px;
        margin-left: 85%;
        cursor: pointer;
    }
    #burger > div {
        width: 90%;
        height: 1.5px;
        background-color: rgb(41, 41, 41);
        margin: auto;
    }
    #cross {
        position: fixed;
        display: none;
        flex-direction: column;
        width: 45px;
        height: 40px;
        margin-top: -26px;
        margin-left: 86%;
        cursor: pointer;
    }
    #cross > p {
        font-size: 45px;
    }


    #uncommon {
        display: grid;
        height: 920px;
        grid-template-areas: 'left'
                              'right';
    }
    #uncommontext {
        background-color: #FFD85D;
        padding-bottom: 33px;
    }
    #uncommonimg {
        width: 100%;
        height: 400px;
    }
    #joinNow {
        width: 100%;
    }


    #supporting {
        margin: 100px 0px 40px;
    }


    #approach {
        grid-template-areas: 'leftapp'
                              'rightapp';
    }
    #approachimg {
        width: 100%;
        height: 500px;
    }


    #asseen > div {
        width: 40%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #asseen > div > div {
        margin-top: 30px;
    }
    #asseen > div > div > img {
        width: 100%;
    }


    #wehavegot {
        width: 100%;
    }
    #wehavegot > div {
        display: flex;
        flex-direction: column-reverse;
    }
    #wehavegottxt > div {
        margin: 60px 0px;
    }
    #brightline {
        width: 100%;
    }
    #wehavegotimg {
        width: 100%;
        height: 500px;
        margin: 20px 0px;
    }


    #flexible {
        margin-top: 100px;
    }
    #flexible > p {
        width: 90%;
        margin: 0px auto 40px;
        font-size: 17px;
    }
    #flexible > div {
        display: flex;
        flex-direction: column;
    }
    #flexible > h1 {
        font-weight: 500;
    }
    #flexibleimg {
        width: 100%;
        height: 500px;
    }
    #flexibletxt > div {
        margin: 35px 0px 0px 20px;
    }
    #flexibletxt > div > p {
        margin-top: -10px;
    }


    #card {
        width: 100%;
    }


    #started {
        width: 100%;
        margin-top: 90px;
        text-align: center;
    }
    #started > h1 {
        font-weight: 100;
        margin-bottom: 40px;
    }
    #started > div > div {
        width: 100%;
        height: 550px;
        margin-top: 10px;
    }
    #stimg1 {
        width: 100%;
        height: 65%;
    }
    #stimg2 {
        width: 100%;
        height: 65%;
    }
    #started > div > div > div {
        text-align: center;
    }
    #started > div > div > div:nth-child(2) {
        width: 80%;
        margin: 40px auto 0;
    }
    #started > div > div > div > h2 {
        font-weight: 100;
    }
}


/* Mid Screen */


@media only screen and (min-width: 600px) {
    #navbar {
        margin-top: -17px;
    }
    #option {
        display: none;
    }
    #btns {
        display: none;
    }
    #workdrop {
        display: none;
    }
    #employdrop {
        display: none;
    }
    #familydrop {
        display: none;
    }
    #careerdrop {
        display: none;
    }

    #burger {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 45px;
        height: 40px;
        margin-top: 25px;
        margin-left: 85%;
        cursor: pointer;
    }
    #burger > div {
        width: 90%;
        height: 1.5px;
        background-color: rgb(41, 41, 41);
        margin: auto;
    }
    #cross {
        position: fixed;
        display: none;
        flex-direction: column;
        width: 45px;
        height: 40px;
        margin-top: -26px;
        margin-left: 86%;
        cursor: pointer;
    }
    #cross > p {
        font-size: 45px;
    }




    #uncommon {
        display: grid;
        grid-template-areas: 'left'
                              'right';
    }
    #uncommontext {
        padding-top: 70px;
        background-color: #FFD85D;
        padding-bottom: 40px;
        width: 100%;
    }
    #uncommontext > div {
        margin-left: 40px;
    }
    #uncommonimg {
        width: 100%;
        height: 400px;
    }
    #joinNow {
        width: 130px;
    }


    #supporting {
        margin: 130px auto 40px;
        width: 80%;
    }


    #approach {
        width: 80%;
        margin: auto;
        grid-template-areas: 'leftapp'
                              'rightapp';
    }
    #approachimg {
        width: 100%;
        height: 650px;
    }
    #learn {
        width: 250px;
    }


    #asseen > div {
        width: 50%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    #asseen > div > div {
        width: 50%;
        margin: auto;
    }
    #asseen > div > div > img {
        width: 100%;
    }


    #wehavegot {
        width: 80%;
        margin: 100px auto 10px;
    }
    #wehavegot > div {
        display: flex;
        flex-direction: column-reverse;
    }
    #wehavegottxt > div {
        margin: 60px 0px;
    }
    #wehavegotimg {
        height: 500px;
        margin: 30px 0px;
    }


    #flexible {
        width: 80%;
        margin: 100px auto 0px;
    }
    #flexible > h1 {
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 600;
    }
    #flexible > p {
        font-size: 18px;
        margin-bottom: 35px;
    }
    #flexible > div {
        display: flex;
        flex-direction: column;
    }
    #flexibletxt > div {
        margin-top: 40px;
    }
    #flexibletxt > div > p {
        margin-top: -10px;
    }
    #flexibleimg {
        width: 100%;
        height: 600px;
    }


    #card {
        width: 100%;
    }


    #started {
        width: 80%;
        margin: 150px auto 0;
        text-align: center;
    }
    #started > h1 {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    #started > div > div {
        height: 700px;
        margin-top: 10px;
    }
    #stimg1 {
        width: 100%;
        height: 75%;
    }
    #stimg2 {
        width: 100%;
        height: 75%;
    }
    #started > div > div > div:nth-child(2) {
        text-align: center;
        margin-top: 40px;
        padding: 0px 30px;
    }
    #started > div > div > div > h2 {
        font-weight: 100;
    }
}


/* Large Screen */


@media only screen and (min-width: 1000px) {
    #option {
        display: flex;
        margin-left: 10%;
        width: 900px;
    }
    #option > div {
        margin: auto 5%;
        width: 20%;
        cursor: pointer;
    }
    #option > div:hover {
        color: #267E6B;
    }
    #btns {
        display: flex;
        margin: auto ;
        margin-right: 40px;
    }
    #btns > div {
        width: 120px;
        height: 35px;
        border-radius: 50px;
        margin-left: 10px;
        text-align: center;
        padding-top: 15px;
        font-weight: 600;
        cursor: pointer;
    }
    #btns > div:nth-child(1) {
        border: 1px solid black;
        letter-spacing: 0.6px;
    }
    #btns > div:nth-child(1):hover {
        color: white;
        background-color: #267E6B;
        border: 1px solid #267E6B;
        transition: all .1s ease-in-out;
    }
    #btns > div:nth-child(2) {
        background-color: #267E6B;
        color: white;
        letter-spacing: 1.3px;
    }
    #btns > div:nth-child(2):hover {
        background-color: #0d4b3d;
        transition: all .1s ease-in-out;
    }

    #burger {
        display: none;
    }
    #cross {
        display: none;
    }

    #msnavdrop {
        display: none;
    }
    

    .droptxt {
        margin: 0px 0 0 40px;
        width: 270px;
    }
    .droptxt > p:nth-child(1) {
        font-size: 35px;
    }
    .droptxt > p:nth-child(2) {
        font-size: 17px;
        margin-top: -20px;
    }
    .droplist {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .droplist > div:nth-child(1) {
        margin-top: 0;
    }
    .droplist > div {
        font-size: 20px;
        margin-top: 15%;
    }
    .droplist > div:hover {
        color: #0d4b3d;
        cursor: pointer;
    }
    #workdrop {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 200px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }
    #employdrop {
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 250px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }
    #familydrop {
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 250px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }
    #careerdrop {
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 250px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }




    #uncommon {
        display: flex;
    }
    #uncommonimg {
        height: 800px;
    }
    #uncommontext {
        background-color: #ffffff;
        padding-bottom: 50px;
        width: 100%;
        margin: auto;
    }
    #approach {
        display: flex;
        height: 800px;
    }
    #approachimg {
        height: 750px;
    }
    #approachtxt {
        margin-left: 40px;
        margin: 40px 0px 0px 40px;
    }
    #asseen > div {
        width: 80%;
        margin-top: 50px;
        display: flex;
        flex-wrap: nowrap;
    }
    #asseen > div > div {
        margin: auto 30px ;
    }


    #wehavegot {
        width: 100%;
        margin-top: 150px;
    }
    #wehavegot > p {
        font-size: 20px;
        width: 80%;
        margin: 5px auto 60px;
    }
    #wehavegot > div {
        display: flex;
        flex-direction: row;
    }
    #wehavegottxt {
        margin: auto;
        width: 50%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
    }
    #wehavegottxt > div {
        width: 40%;
        margin: 10px 0px;
        padding: 2% 5%;
    }
    #wehavegotimg {
        width: 60%;
        height: 600px;
    }
    #brightline {
        height: 60px;
    }


    #flexible > div {
        flex-direction: row;
    }
    #flexible > p {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
    #flexibleimg {
        height: 700px;
        width: 100%;
    }
    #flexibletxt {
        margin: auto;
        margin-left: 10%;
        width: 70%;
    }
    #flexibletxt > div > h1 {
        font-size: 50px;
    }
    #flexibletxt > div > p {
        font-size: 20px;
        margin-top: -10px;
    }

    #card {
        width:90%;
    }


    #started {
        width: 70%;
    }
    #started > h1 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
    }
    #started > div > div {
        height: 270px;
        display: flex;
        margin-top: 25px;
    }
    #stimg1 {
        height: 100%;
        width: 60%;
    }
    #stimg2 {
        height: 100%;
        width: 56%;
    }
    #started > div > div > div:nth-child(2) {
        text-align: left;
        padding: 30px 50px 0;
    }
}


/* CSS For Index - END */

<<<<<<< HEAD

/* CSS For Sign Up - START */

#form {
    width: 40%;
    height: 800px;
    margin: 140px auto 0;
    text-align: center;
}

/* CSS For Sign Up - END */

.footer{
    width: 90%;
    height: 600px;
    background-color: #2c333f;
    padding: 5%;
    color: #fff;
    display: flex;
}
.email{
    height:50px;
    border-radius: 9px;
    border: none;
    width: 390px;
    margin-right: 0px;
    font-size:20px;
    padding-left: 10px;
}
.arow{
    height:50px;
    width: 15px;
    margin-left: -1px;
    border: none;
    font-size: 15px;
}
.social-icon{
    width: 30%;
    margin-top:5%;
    margin-bottom: 5%;
}

.face{
    font-size: 35px;
    height:90px;
    width: 90px;
    margin-right: 10px;
    
    
}
.fa{
    color: #fff
}
.fa:hover{
    cursor:pointer;
}
.phn{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.here{
    color: #fff;
}
.phon-no{
    font-size: 20px;
}
.left-div{
    width: 40%;

}
.right-div{
    width: 55%;
    padding-left:5%;
    padding-right: 5%;
}
.table{
    width: 100%;
    display: flex;
    height: 100;
    flex-wrap: wrap;
}
.td{
    width: 25%;
    margin-bottom: 2%;
    margin-right: 8%;
}
html{
    scroll-behavior: smooth;
}
.smooth{
    color: #fff;
    text-decoration: none;
}
.stamp-last{
    height: 180px;
    margin-top: 3%;
    margin-bottom:2%;
}
.line{
    line-height:1.5;
}
.hr-div{
    width: 90%;
    height: 100;
    background-color: #2c333f;
    padding: 5%;
    color: #fff;
}
.align{
    float: right;
}
.privacy{
    padding-top: 10px;
    color: #fff;
}
=======
/* CSS For CarePage - START */

button:hover{
    background-color:rgb(4, 70, 70);
}
#cont > div{
    background-color: white;
    height: auto;
    margin: px;
    width: 50%;
    margin-top: 0px;
    overflow-y:hidden;
}
#cont{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
}
#cont > div > img{
    height: 620px;
    width: 100%;
    flex-wrap: wrap;
}
#box{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
#box > div{
    width: 85%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}
#box > div:nth-of-type(1){
   margin-top: 100px;
   
}
#box  h1{
   font-size: 2px;
   padding-top: 3%;
   font-weight: 1%;
   
}
.lora{
font-family: 'Lora', serif;
}
#box h2{
   font-size: 45px;
   margin: 0px;
   
}
.ft-wt{
   font-weight: lighter;
}
.start-button{
   margin-top: 20px;
   height: 50px;
   width: 120px;
   border-radius: 30px;
   background-color: teal;
   color: white;
   padding-bottom: 0%;
   text-align: center;

}
#box h6{
    font-size: 1px;
}
.txt-align{
    text-align: center;
}
#box h5{
    font-size: xx-small;
    padding-top: 1%;
}
h2 b{
    color: teal;
}
#cont2{
    height:450px;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
#cont2 > h1{
    font-family: 'Playfair Display', serif;
    font-weight: 1px;
}
#cont2 > p{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-top: 0px;
    font-size: 10px;
}
#box2{
    height:80%;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 310px;
    margin-top: 50px;
   
}
#box2 div{
    
    
    padding-right: 40px;
}

#box2 img{
    width: 64px;
    height: 64px;
}
#box2 h2{
    font-size: 20px;
    text-align: left;
    color: teal;
    font-family: 'Playfair Display', serif;
    
}
#box2 p{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-align: left;
    padding-top: 10px;
    font-size: 5px;
}
.age p{
    font-style: italic;
    font-size: 2px;
}
#cont2 h1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 20px;
}
#cont3{
    height: 710px;
    width:68%;
    margin: auto;
    margin-top: 5px;
    /* border: 1px solid black; */
}
#cont3 p,#cont4 p, .para2 p ,#box3 p,#main p,#cont6 p{
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 2px;
    padding-bottom: 20px;
}
#main p{
    padding-bottom: 0px;
    padding-left: 15%;
    padding-right: 15%;
}
#box3{
    display: flex;
    flex-wrap:wrap;
}
#box3 > div{
    flex-direction: column;
    width: 48%;
    margin: 1%;
    height: 600px;
    margin-top: 40px;
    
}
#box3 img{
    height: 40%;
    width:100%;
}
.boy-image{
    background-color:rgba(255,243,206) ;
    
}
.girl-image{
    background-color: rgba(215,231,253);
}
#box3 h2{
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 20;
    font-size: 25px;
    color:#263238 ;
}
.header{
    text-align: center;
    font-family: Times, "Times New Roman", Georgia, serif;
    margin-top: 100px;
    color: #263238;
}
#box3 p{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 0.5;
    text-align:start;
    padding-left: 30px;
    padding-right: 80px;
    font-weight:50;
}
#cont4{
    width: 80%;
   
    padding: 4rem 6rem;
    display: flex;
    flex-direction: row;
}
.flex-box1{
    flex-direction: row;
   
    
}
.flex-box2{
    display: flex;
    flex-wrap: wrap;
}
.icon-box{
    display: grid;
    grid-template-columns: 10% 80%;
    width: 90%;
    grid-column-gap: 10px;
    
    margin-left: 30px;
}

.icon-img{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.icon-img img {
    width: 32px;
    height: auto;
}

.icon-dis h3{
    margin-top: 0px;
}
.women-image{
    height: 100%;
    width: 100%;
}
#cont5{
    height: 330px;
    width: 98%;
    background-color: rgba(222,235,233);
    margin-top: 50px;
  
}
.para2{
    text-align: center;
    width: 60%;
    height:55%;
    font-weight: 1;
    margin: auto;
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #1a2124;
}
#cont6{
    width: 80%;
    height: 800px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    display: grid;   
}
.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 0px;
    height: 900px;
    width: 90%;
    margin-left: 40px;
}
.container > div{
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
.team{
    height:40%;
    width: 100%;
    /* background-color: wheat; */
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
}
.team img{
    width: 50%;
    height: 80%;
    border-radius: 40%;
    padding-top: 10px;
}
.team-dis{
    /* background-color: teal; */
    width: 100%;
    height:40% ;
    text-align: center;
}
.team-dis h3{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.team-dis p .cont7-para{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 2;
    margin-top: 0px;
}
#cont7{
    height: 500px;
    width: 100%;
    /* border: 1px solid blue; */
    margin-top: 30px;
}
.cont7-main{
    height: 65%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    /* border: 1px solid red; */
    background-color: #FBC02D;
}
.cont7-image{
    position: relative;
    height: 100%;
    bottom: 59px;
    background: transparent;
}
.cont7-image img{
    height:100%;
    margin-left: 10%;
}
.cont7-text{
    height: 85%;
    width: 35%;
    margin-left: 10%;
    margin-top: 20px;
    float: left;
}
.ready{
    font-size: 40px;
    font-weight: 2;
}
.ready b{
    color: teal;
}
.book{
   height: 40px;
   width: 120px;
   border-radius: 30px;
   background-color: teal;
   color: white;
   text-align: center;
   font-size: 2px;
}
.book-session{
    width: 152px;
    border-radius: 30px;
    height: auto;
    padding-top: 0px;
    font-size: 1;
    background-color: white;
    border: 1px solid teal;
    color: teal;
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 67px;
}
#bottom-head{
    height: 100px;
    width: 100%;
    text-align: center;
}
#bottom-head h1{
    margin-top: 0px;
    text-align: center;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: #263238;
    font-size: 40px;
}
#cont8{
    padding: 0px 10%;
    height: 200px;
    width: 80%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-column-gap: 21px;
   
}
#bottom-head p{
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 2px;
    padding-top: 0px;
    padding-bottom: 20px;
}
#cont8 img{
    height: 96%;
    width: 95%;
    padding: 2px
}
#bottom-box{
    height: 800px;
    background-color:  rgba(44,51,63);
    width: 100%;
    margin-top: 150px;
}


/* CSS For Care - END */
>>>>>>> 8dabc5782c1d8ecaa2b66d84fc5c59629959dc84
/* about css */
*{
    margin: 0;
    padding: 0;
}
/* Nave bar code */
#navbar {
    width: 100%;
    height: 100px;
    margin-top: -8px;
    margin-left: -7px;
    display: flex;
    position: fixed;
    background-color: #FFD85D;
}
#navbar > img {
    width: 160px;
    height: 50px;
    margin: 25px 0 0px 40px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    #navbar {
        margin-top: -17px;
    }
    #option {
        display: none;
    }
    #btns {
        display: none;
    }
    #workdrop {
        display: none;
    }
    #workdrop {
        display: none;
    }
    #employdrop {
        display: none;
    }
    #familydrop {
        display: none;
    }
    #careerdrop {
        display: none;
    }


    #uncommon {
        display: grid;
        height: 920px;
        grid-template-areas: 'left'
                              'right';
    }
    #uncommontext {
        background-color: #FFD85D;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    #uncommonimg {
        width: 100%;
        height: 400px;
    }
    #joinNow {
        width: 100%;
    }


    #supporting {
        margin: 100px 0px 40px;
    }


    #approach {
        grid-template-areas: 'leftapp'
                              'rightapp';
    }
    #approachimg {
        width: 100%;
        height: 500px;
    }


    #asseen > div {
        width: 40%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #asseen > div > div {
        margin-top: 30px;
    }
    #asseen > div > div > img {
        width: 100%;
    }


    #wehavegot {
        width: 100%;
    }
    #wehavegot > div {
        display: flex;
        flex-direction: column-reverse;
    }
    #wehavegottxt > div {
        margin: 60px 0px;
    }
    #brightline {
        width: 100%;
    }
    #wehavegotimg {
        width: 100%;
        height: 500px;
        margin: 20px 0px;
    }


    #flexible {
        margin-top: 100px;
    }
    #flexible > p {
        width: 90%;
        margin: 0px auto 40px;
        font-size: 17px;
    }
    #flexible > div {
        display: flex;
        flex-direction: column;
    }
    #flexible > h1 {
        font-weight: 500;
    }
    #flexibleimg {
        width: 100%;
        height: 500px;
    }
    #flexibletxt > div {
        margin: 35px 0px 0px 20px;
    }
    #flexibletxt > div > p {
        margin-top: -10px;
    }


    #card {
        width: 100%;
    }


    #started {
        width: 100%;
        margin-top: 90px;
        text-align: center;
    }
    #started > h1 {
        font-weight: 100;
        margin-bottom: 40px;
    }
    #started > div > div {
        width: 100%;
        height: 550px;
        margin-top: 10px;
    }
    #stimg1 {
        width: 100%;
        height: 65%;
    }
    #stimg2 {
        width: 100%;
        height: 65%;
    }
    #started > div > div > div {
        text-align: center;
    }
    #started > div > div > div:nth-child(2) {
        width: 80%;
        margin: 40px auto 0;
    }
    #started > div > div > div > h2 {
        font-weight: 100;
    }
}


/* Mid Screen */


@media only screen and (min-width: 600px) {
    #navbar {
        margin-top: -17px;
    }
    #option {
        display: none;
    }
    #btns {
        display: none;
    }
    #workdrop {
        display: none;
    }
    #employdrop {
        display: none;
    }
    #familydrop {
        display: none;
    }
    #careerdrop {
        display: none;
    }




    #uncommon {
        display: grid;
        grid-template-areas: 'left'
                              'right';
    }
    #uncommontext {
        padding-top: 50px;
        background-color: #FFD85D;
        padding-bottom: 40px;
        width: 100%;
    }
    #uncommontext > div {
        margin-left: 40px;
    }
    #uncommonimg {
        width: 100%;
        height: 400px;
    }
    #joinNow {
        width: 130px;
    }


    #supporting {
        margin: 130px auto 40px;
        width: 80%;
    }


    #approach {
        width: 80%;
        margin: auto;
        grid-template-areas: 'leftapp'
                              'rightapp';
    }
    #approachimg {
        width: 100%;
        height: 650px;
    }
    #learn {
        width: 250px;
    }


    #asseen > div {
        width: 50%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    #asseen > div > div {
        width: 50%;
        margin: auto;
    }
    #asseen > div > div > img {
        width: 100%;
    }


    #wehavegot {
        width: 80%;
        margin: 100px auto 10px;
    }
    #wehavegot > div {
        display: flex;
        flex-direction: column-reverse;
    }
    #wehavegottxt > div {
        margin: 60px 0px;
    }
    #wehavegotimg {
        height: 500px;
        margin: 30px 0px;
    }


    #flexible {
        width: 80%;
        margin: 100px auto 0px;
    }
    #flexible > h1 {
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 600;
    }
    #flexible > p {
        font-size: 18px;
        margin-bottom: 35px;
    }
    #flexible > div {
        display: flex;
        flex-direction: column;
    }
    #flexibletxt > div {
        margin-top: 40px;
    }
    #flexibletxt > div > p {
        margin-top: -10px;
    }
    #flexibleimg {
        width: 100%;
        height: 600px;
    }


    #card {
        width: 100%;
    }


    #started {
        width: 80%;
        margin: 150px auto 0;
        text-align: center;
    }
    #started > h1 {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    #started > div > div {
        height: 700px;
        margin-top: 10px;
    }
    #stimg1 {
        width: 100%;
        height: 75%;
    }
    #stimg2 {
        width: 100%;
        height: 75%;
    }
    #started > div > div > div:nth-child(2) {
        text-align: center;
        margin-top: 40px;
        padding: 0px 30px;
    }
    #started > div > div > div > h2 {
        font-weight: 100;
    }
}


/* Large Screen */


@media only screen and (min-width: 1000px) {
    #option {
        display: flex;
        margin-left: 10%;
        width: 900px;
    }
    #option > div {
        margin: auto 5%;
        width: 20%;
        cursor: pointer;
    }
    #option > div:hover {
        color: #267E6B;
    }
    #btns {
        display: flex;
        margin: auto ;
        margin-right: 40px;
    }
    #btns > div {
        width: 120px;
        height: 35px;
        border-radius: 50px;
        margin-left: 10px;
        text-align: center;
        padding-top: 15px;
        font-weight: 600;
        cursor: pointer;
    }
    #btns > div:nth-child(1) {
        border: 1px solid black;
        letter-spacing: 0.6px;
    }
    #btns > div:nth-child(1):hover {
        color: white;
        background-color: #267E6B;
        border: 1px solid #267E6B;
        transition: all .1s ease-in-out;
    }
    #btns > div:nth-child(2) {
        background-color: #267E6B;
        color: white;
        letter-spacing: 1.3px;
    }
    #btns > div:nth-child(2):hover {
        background-color: #0d4b3d;
        transition: all .1s ease-in-out;
    }
    

    .droptxt {
        margin: 0px 0 0 40px;
        
        width: 270px;
        line-height:1.5;
    }
    .droptxt > p:nth-child(1) {
        font-size: 35px;
    }
    .droptxt > p:nth-child(2) {
        font-size: 17px;
        margin-top: -20px;
    }
    .droplist {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .droplist > div:nth-child(1) {
        margin-top: 0;
    }
    .droplist > div {
        font-size: 20px;
        margin-top: 15%;
    }
    #workdrop {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 200px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }
    #employdrop {
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 250px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }
    #familydrop {
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 250px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }
    #careerdrop {
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 250px;
        background-color: #FFD85D;
        margin-top: 83px;
        margin-left: -7px;
        visibility: hidden;
    }
}
/* first div */

.container{
    width: 100%;
    display:flex ;
    

}
.about{
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.5;
    font-weight:100;
}
.child-div{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    justify-content: center;
    grid-area: a;

}

.div-img {
    width: 50%;
    
}
.text-h{
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.2;
}
.text-h > strong {
    --tw-text-opacity: 1;
    color: rgba(38,126,107,var(--tw-text-opacity));
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 600;
    font-size: 70px;
    
}
.child-div > p {
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
}
@media only screen and (max-width: 1200px){
    .container{
        flex-direction: column;
    }
    .div-img{
        width: 100%;
    }
    .child-div{
        width: 100%;
        background-color: rgba(59,130,246,0.5);;
        margin-top: 3%;
    }
    #navbar{
        background-color: #FFD85D;
    }
}
/* second div */

.second-container{
    width: 60%;
    
    margin: 0 auto;
    margin-top: 15%;
}
.heading{
    height:10%;
    
}
.heading-text {
    margin-bottom:10%;
    font-size: 51px;
    text-align: center;
    margin-top: 10%;
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 600;
}

.reading-img{
     width: 100%; 
     height: 100%;
}
@media only screen and (max-width: 1200px){
    .second-container{
        width: 80%;
    }
    .heading{
        width: 100%;
    }
}
@media only screen and (max-width: 800px){
    .second-container{
        width: 100%;
    }
    .heading{
        width: 100%;
    }
    .reading-img{
        width: 100%;
    }
}
/*third container */
.third-container{
    margin-top: 10%;
    
    width: 100%;
    height: 360;
    display: flex;
}
.together{
    width: 50%;
    
}
.together-heading{
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 200;
    font-size: 60px;
    margin-left: 10%;
    margin-top: 5%;
    
}
.together-para{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 2;
    margin-left: 10%;
    margin-right: 10%;
}

.seeting-img{
    
    width: 50%;
}
@media only screen and (max-width: 1200px){
    .third-container{
        flex-direction: column;
    }
    .together{
        width: 100%;
    }
    .seeting-img{
        width: 80%;
        margin: auto;
    }
}
@media only screen and (max-width: 900px){
    .third-container{
        flex-direction: column;
        width: 100%;
    }
    .together{
        width: 100%;
        
    }
    .seeting-img{
        width: 100%;
        margin: auto;
    }
    .together-heading{
        margin-left:1%;
    }
    .together-para{
        margin-left:1%;
    }
}
/* forth div */

/*b fourth container */

.fourth-container{
    width: 100%;
    height: 360;
    display: flex;
    margin-top: 5%;
}

.img-guiter-chess{
    width:50%;
    height: 100%;
}
.paragraph-div{
    width: 50%;
    height: 100%;
}
.paragraph-text{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 2;
    margin-left: 10%;
    margin-right: 20%;
    
}
@media only screen and (max-width: 1400px){
    .fourth-container{
        flex-direction: column;
    }
    .img-guiter-chess{
        width: 80%;
        margin: auto;
    }
    .paragraph-div{
        width: 80%;
        margin: auto;
    }
}
@media only screen and (max-width: 1000px){
    .fourth-container{
        flex-direction: column;
        width: 100%;
    }
    .img-guiter-chess{
        width: 100%;
        margin: auto;
    }
    .paragraph-div{
        width: 100%;
        margin: auto;
    }
    .paragraph-text{
        margin-left: 2%;
        margin-right: 1%;
    }
}


/* fifth-ontainer */    

.fifth-container{
    width: 100%;
    height: 360;
    background-color: #deebe9;
    margin-top: 5%;
    display: flex;
}
.exclamparagraph{
    height: 80%;
    width: 60%;
    
}
.exclam-paragraph{
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    line-height: 1.3333;
    margin-top: 20%;
    margin-left: 15%;
}
.ceo-name{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5;
    margin-left: 15%;
}
.name{
    font-weight: bold;
}

.ceo-img{
    height:70%;
    width: 70%;
    margin-left:20%;
    margin-top:8%;
    margin-bottom: 10%
       
}

@media only screen and (max-width: 1000px){
    .fifth-container{
        flex-direction: column-reverse;
        width: 100%;
    }
    .exclamparagraph{
        width: 100%;
        margin: auto;
        

    }
    .ceo-img{
        width: 80%;
        margin: auto;
        padding:10%;
        margin-bottom: 2%;
    }
    .exclam-paragraph{
        margin-top:2%;
        text-align:center;
        margin-left: 2%;
    }
    .ceo-name{
        text-align:center;
        margin-left: 2%;
    }
}


/* leader ship sixth div */
.leadership{
    margin-top: 7%;
    text-align: center;
    font-size: 60px;
    margin-bottom: 1px;

}
.leadership-div{
    width: 80%;
    height: 360;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top:5%;
    
}
.sub-l_div{
    width: 30.33%;
    height: 30.33%;
    text-align: center;
    margin: 1.5%;
    
    
    margin-bottom: 10%;

}
.leader-hp{
margin-top:5%;
height:20%;
width: 100%;
    
}
.leader-img{
    height: 90%;
    width: 50%;
}
.leader-name{
    font-size:40px;
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 400;
}
.post{
    font-size:25px;
    font-family: Neue,Arial,Noto Sans,sans-serif;
    font-weight: 300;
    line-height: 2;
}


@media only screen and (max-width: 1400px){
    .leadership-div{
        width: 90%;
        margin: auto;
    }
    .sub-l_div{
        width: 50%;
        margin: auto;
        margin-top: 10%;
        

    }
}
@media only screen and (max-width: 900px){
    .leadership-div{
       flex-direction: column;
    }
    .sub-l_div{
        width: 50%;
        margin: auto;
        margin-top: 10%;
        

    }
}

/* scrool */


#card{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}

.card1{
    display: inline-block;
    padding: 5% 2% 5% 3%;
    background-color: #ffd85d;
    height: 300px;
    margin-right: 1%;
}
.card2{
    background-color: #fff28b;
    height: 250px;
}
@media only screen and (max-width: 1000px){
    .card{
       width: 100%;
       height: 80%;
       margin: 0%;
    }
    .card1{
        width: 100%;
        margin: 1%;
    }
}
/* bord of director */
.name{
    width: 100%;
    height: 360;
    display: flex;
    flex-wrap: wrap;
    
    margin-top:5%;
    
}
.sub_name_div{
    width: 22%;
    height: 30.33%;
    text-align: center;
    margin: 1.5%;
}
.subname{
    width: 80%;
    margin-top: 1%;
}
.sub_name_div_mid{
    width: 30.33%;
}

@media only screen and (max-width: 1100px){
    .name{
        width: 80%;
        margin: auto;
        
    }
    .sub_name_div{
        width: 40%;
        margin: auto;
        margin-top:10%;
        
    }
}

/* Award division */
.award-div{
    width: 100%;
    height: 360;
    margin-top:5%;
    background-color: #deebe9
}
.award-heading{
    padding: 5%;
}
.digitalhealth{
    width: 40%;
    height: 100;
    display: flex;
    margin:auto;
    padding:2%;
}
.health-img{
    width: 46%;
    height: 70%;
    margin-right: 4%;
    
}
.health-text{
    width: 50%;
}
.health-heading{
    font-size: 35px;
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.first-compny{
    margin-top: 5%;
}
.stamp{
    height:30%;
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}
@media only screen and (max-width: 1100px){
    .award-div{
        flex-direction: column;
        width: 100%;
    }
    .digitalhealth
    {
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 10%;
    }
    .health-img{
        margin: auto;
    }
    .health-text{
        margin: auto;
        text-align: center;
        margin-top: 5%;
    }
}

/* Invasters */
.investers{
    
    width: 80%;
    height: 360;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top:2%;
    
}
.invst-company-logo{
    width: 20%;
    height: 30.25%;
    margin: 2.5%;
}
.gangles{
    margin-top: 9%;
}
@media only screen and (max-width: 1400px){
    .investers{
        width: 60%;
        margin: auto;
        margin-top: 10%;
    }
    .invst-company-logo{
        width: 40%;
        margin: 2%;
        margin: auto;
    }
}

/*last div */
.last-div{
    width: 80%;
    height: 100;
    margin: auto;
    background-color:#fff3ce;
    display: flex;
    
    margin-top: 5%;
}
.mobile-watch{
    width: 60%;
    height: 90%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 5%;

}
.watch-mobile{
    width: 40%;
    height: 100%;
}
.position{
    width: 250px;
    color: #267e6b;
    cursor:pointer;
    font-size:20px;
    border:1px solid ;
    height: 80px;
    
    border-radius: 45px;
    margin: 30px;
    background-color: transparent;
}
.positioin:hover{
    border: 1px solid #267e6b;
    color: #267e6b;
}
.l-div{
    margin-top: 1%;
}


.w-4:hover{
    background-color: #267e6b;
    color: #fff; 
}




.login-btn{
    font-size:20px;
    border:1px solid ;
    height: 80px;
    
    border-radius: 45px;
    margin: 30px;
    background-color: transparent;
}

    @media only screen and (max-width: 1200px){
        .last-div{
            flex-wrap: wrap;
            width: 80%;
            margin: auto;
            margin-top: 10%;
        }
        .mobile-watch{
            width: 90%;
            margin: auto;
            text-align: center;

        }
        .position{
            width: 100%;
            margin-top: 10px;
        }
        .watch-mobile{
            width: 100%;
        }

    }
    @media only screen and (max-width: 900px){
        .last-div{
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            margin-top: 10%;
        }
        .mobile-watch{
            width: 90%;
            margin: auto;
            

        }
        .position{
            width: 90%;
            margin: auto;
            
            margin-bottom:5%;
        }
        .watch-mobile{
            width: 100%;
        }

    }

    /* footer */
    
/* footer */
.footer{
    width: 90%;
    height: 100;
    background-color: #2c333f;
    padding: 5%;
    color: #fff;
    display: flex;
    line-height: 1;
}
.email{
    height:50px;
    border-radius: 9px;
    border: none;
    width: 390px;
    margin-right: 0px;
    font-size:20px;
    padding-left: 10px;
}
.arow{
    height:50px;
    width: 15px;
    margin-left: -1px;
    border: none;
    font-size: 15px;
}
.social-icon{
    width: 30%;
    margin-top:5%;
    margin-bottom: 5%;
}

.face{
    font-size: 35px;
    height:90px;
    width: 90px;
    margin-right: 10px;
    
    
}
.fa{
    color: #fff
}
.fa:hover{
    cursor:pointer;
}
.phn{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.here{
    color: #fff;
}
.phon-no{
    font-size: 20px;
}
.left-div{
    width: 40%;

}
.right-div{
    width: 55%;
    padding-left:5%;
    padding-right: 5%;
}
.table{
    width: 100%;
    display: flex;
    height: 100;
    flex-wrap: wrap;
}
.td{
    width: 25%;
    margin-bottom: 2%;
    margin-right: 8%;
}
html{
    scroll-behavior: smooth;
}
.smooth{
    color: #fff;
    text-decoration: none;
}
.stamp-last{
    height: 180px;
    margin-top: 3%;
    margin-bottom:2%;
}
.line{
    line-height:1.5;
}
.hr-div{
    width: 90%;
    height: 100;
    background-color: #2c333f;
    padding: 5%;
    color: #fff;
}
.align{
    float: right;
}
.privacy{
    padding-top: 10px;
    color: #fff;
}

@media only screen and (max-width: 1100px){
    .footer{
        flex-direction: column;
        width: 100%;
        margin: auto;
        
    }
    .left-div{
        width: 90%;
    }
    .right-div{
        width: 90%;
    }
    .table{
        flex-direction: column;
    }
}